// Colors
//---------------------------------

// Default

$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

// Base

$color-text:                      #303030;
$color-text--invert:              $color-default-white;
$color-text--light:               #9a9a9a;

$color-body:                      $color-default-white;

$color-accent:                    #a4c58c;
$color-accent--light:             #a8c48c;
$color-accent--lightest:          #f6f9f3;
$color-accent--dark:              #7eb252;

// Typography
//---------------------------------

$font-family--montserrat:         "Montserrat", "Verdana", "Arial", sans-serif;
$font-size:                       16px;
$line-height:                     1.5;

// Viewports
//---------------------------------

$screen--xxs:                     320px;
$screen--xs-small:                480px;
$screen--xs:                      640px;
$screen--sm:                      768px;
$screen--md:                      1024px;
$screen--lg:                      1280px;
$screen--xl:                      1440px;
$screen--xxl:                     1680px;
$screen--overflow-x:              1720px;
$screen--xxxl:                    1920px;

// Retina
//---------------------------------

$retina-dpi:                      144dpi;
$retina-dppx:                     1.5dppx;
