.banner {
  position: relative;
  padding: 20px;
  background-color: $color-body;

  @media screen and (max-width: $screen--xs - 1) {
    padding: 10px;
  }

  &--bg-dark {
    background-color: #f6f9f3;
  }
}

.banner--bg-dark .banner__link {
  background-color: #f6f9f3;
}

.banner__inner {
  padding: 50px;
  border: 1px solid #a4c58c;

  @media screen and (max-width: $screen--xs-small - 1) {
    padding: 20px;
  }
}

.banner__text-wrap p {
  margin: 0 0 18px;

  @media screen and (max-width: $screen--xs-small - 1) {
    font-size: 14px;
    line-height: 1.7;
  }

  &:only-child,
  &:last-child {
    margin-bottom: 0;
  }
}

.banner__link {
  display: inline-block;
  padding-right: 8px;
  padding-left: 8px;
  font-weight: 600;
  color: #7eb152;
  text-decoration-thickness: 0.0625em;
  text-underline-offset: 2px;
  background-color: $color-body;

  &:hover,
  &:focus {
    color: #a4c58c;
    text-decoration: none;
  }
}

.banner__label {
  display: inline-block;
  padding-right: 8px;
  padding-left: 8px;
  font-weight: 700;
  color: #a4c58c;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  background-color: $color-body;

  @media screen and (max-width: $screen--xs-small - 1) {
    font-size: 14px;
    line-height: 1.7;
    text-align: center;
  }
}
