.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-height: 70px;
  padding: 24px 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.57;
  font-family: $font-family--montserrat;
  vertical-align: middle;
  color: $color-text--invert;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  white-space: normal;
  background-color: #7eb252;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;

  @media screen and (max-width: $screen--xs - 1) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media screen and (max-width: $screen--xs-small - 1) {
    font-size: 12px;
  }

  &:hover,
  &:focus {
    background-color: #a4c58c;
  }

  &--narrow {
    min-height: 60px;
    padding-top: 19px;
    padding-bottom: 20px;
  }
}

.btn svg {
  margin-left: 20px;
  fill: $color-default-white;
  fill-opacity: 0.5;

  @media screen and (max-width: $screen--xs - 1) {
    display: none;
  }
}

.btn__text-desktop {
  @media screen and (max-width: $screen--xs - 1) {
    display: none;
  }
}

.btn__text-mobile {
  @media screen and (min-width: $screen--lg) {
    display: none;
  }
}
