.btn {
  position: relative;
  display: inline-block;
  max-width: 100%;
  padding: 24px 45px 24px 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.57;
  font-family: $font-family--montserrat;
  vertical-align: middle;
  color: $color-text--invert;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  white-space: normal;
  background-color: #7eb252;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;

  &--narrow {
    padding-top: 19px;
    padding-bottom: 20px;
  }
}
