.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;

  @media screen and (max-width: $screen--lg - 1) {
    max-width: 768px;
    padding-right: 12px;
    padding-left: 12px;
  }

  @media screen and (max-width: $screen--sm - 1) {
    max-width: 640px;
    padding-right: 10px;
    padding-left: 10px;
  }

  @media screen and (max-width: $screen--xs - 1) {
    padding: 0;
  }

  &--wide {
    max-width: 1720px;
    padding: 0;
  }
}
