.field-text__input-wrap {
  position: relative;
}

.field-text__input {
  display: inline-block;
  width: 100%;
  padding: 8px 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: $font-family--montserrat;
  color: $color-accent--light;
  border: 0;
  border-bottom: 1px solid currentColor;
  border-radius: 0;
  outline: 0;

  &:focus {
    color: $color-accent--dark;
    box-shadow: 0 1px 0 0 currentColor;
  }

  @media screen and (max-width: $screen--xs-small - 1) {
    text-align: center;
  }

  &::placeholder {
    color: currentColor;
  }
}

.field-text__error-message {
  max-height: 0;
  margin: 0;
  visibility: hidden;
  opacity: 0;
}
