.ingredients {
  margin-bottom: 190px;

  @media screen and (max-width: $screen--lg - 1) {
    margin-bottom: 145px;
  }

  @media screen and (max-width: $screen--xs-small - 1) {
    margin-bottom: 0;
  }
}

.ingredients .container {
  @media screen and (max-width: $screen--lg - 1) {
    max-width: none;
  }
}

.ingredients__grid {
  display: grid;
  grid-auto-rows: 270px;
  grid-auto-columns: 270px;
  grid-auto-flow: dense;
  gap: 30px;
  padding-top: 60px;
  counter-reset: ingredientsCounter;

  @media screen and (max-width: $screen--lg - 1) {
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, 332px);
    grid-auto-rows: 332px;
    gap: 37px;
    justify-content: center;
    padding-top: 0;
  }

  @media screen and (max-width: $screen--sm - 1) {
    grid-template-columns: repeat(auto-fit, 290px);
    grid-auto-rows: 290px;
    gap: 10px;
  }

  @media screen and (max-width: $screen--xs-small - 1) {
    grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-rows: 300px;
  }
}

.ingredients__header {
  grid-column: 3 / span 2;
  margin-top: -60px;
  padding-left: 80px;

  @media screen and (max-width: $screen--lg - 1) {
    grid-column: 1 / -1;
    margin-top: 0;
    margin-bottom: 8px;
    padding-left: 0;
  }
}

.ingredients__title {
  margin: 0 0 50px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;

  @media screen and (max-width: $screen--lg - 1) {
    max-width: 450px;
    margin: 0 auto 40px;
    font-size: 30px;
    line-height: 1.33;
    text-align: center;
  }

  @media screen and (max-width: $screen--xs-small - 1) {
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 1.25;
  }
}

.ingredients__title span {
  display: block;

  @media screen and (max-width: $screen--lg - 1) {
    display: inline;
  }

  &:last-child {
    margin-left: -0.5em;

    @media screen and (max-width: $screen--lg - 1) {
      margin-left: 0;
    }
  }
}

.ingredients__text {
  position: relative;
  margin: 0 0 25px;
  padding-left: 25px;
  line-height: 1.375;

  @media screen and (max-width: $screen--lg - 1) {
    max-width: 505px;
    margin: 0 auto 30px;
    //padding-left: 15px;
  }

  @media screen and (max-width: $screen--xs-small - 1) {
    padding-left: 35px;
    font-size: 14px;
    line-height: 1.57;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0.6875em;
    left: 0;
    display: block;
    width: 7px;
    height: 7px;
    background-color: #a4c58c;
    border-radius: 50%;
    transform: translateY(-50%);

    @media screen and (max-width: $screen--xs-small - 1) {
      left: 12px;
    }
  }
}

.ingredients__footer {
  grid-column: 1 / span 3;

  @media screen and (max-width: $screen--lg - 1) {
    grid-row: auto;
    grid-column: auto;
  }
}

.ingredients__banner {
  padding-bottom: 0;

  @media screen and (max-width: $screen--lg - 1) {
    padding: 0;
  }
}

.ingredients__banner .banner__inner {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  height: 100%;
  padding: 0;

  @media screen and (max-width: $screen--xs-small - 1) {
    display: flex;
    flex-direction: column;
    border: 0;
  }
}

.ingredients__banner .banner__text-wrap {
  padding-top: 55px;
  padding-right: 85px;
  padding-left: 85px;

  @media screen and (max-width: $screen--lg - 1) {
    padding-top: 90px;
    padding-right: 33px;
    padding-left: 33px;
  }

  @media screen and (max-width: $screen--sm - 1) {
    padding-top: 38px;
  }

  @media screen and (max-width: $screen--xs-small - 1) {
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
  }
}

.ingredients__banner .banner__text-wrap p {
  margin: 0 0 15px;
  line-height: 1.375;

  @media screen and (max-width: $screen--xs-small - 1) {
    font-size: 14px;
    line-height: 1.72;
  }

  &:first-child {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0.6875em;
      left: -20px;
      display: block;
      width: 7px;
      height: 7px;
      background-color: #a4c58c;
      border-radius: 50%;
      transform: translateY(-50%);

      @media screen and (max-width: $screen--lg - 1) {
        content: none;
      }
    }
  }

  &:last-child {
    margin-bottom: 0;

    @media screen and (max-width: $screen--lg - 1) {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      clip: rect(0 0 0 0);
    }
  }
}

.ingredients__banner .btn {
  justify-self: right;
  width: 100%;
  max-width: 350px;
  min-height: 60px;

  @media screen and (max-width: $screen--xs-small - 1) {
    left: 50%;
    justify-self: center;
    width: 100vw;
    max-width: none;
    margin-top: 30px;
    transform: translateX(-50%);
    //margin-right: -10px;
    //margin-left: -10px;
  }
}
