.item-statistics {
  position: relative;
  padding-top: 25px;
  padding-left: 45px;
  font-size: 16px;
  color: $color-default-black;

  @media screen and (max-width: $screen--sm - 1) {
    padding-top: 0;
    padding-right: 20px;
    padding-left: 20px;
  }

  @media screen and (max-width: $screen--xs - 1) {
    padding-right: 10px;
    padding-left: 10px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 25px;
    height: 25px;
    background-color: $color-transparent;
    border: 5px solid #e4eddc;
    border-radius: 50%;

    @media screen and (max-width: $screen--sm - 1) {
      content: none;
    }
  }
}

.item-statistics__year {
  position: relative;
  display: inline-block;
  margin: 0 0 25px;
  font-weight: 600;
  font-size: 30px;
  color: $color-accent;

  @media screen and (max-width: $screen--xs-small - 1) {
    font-size: 24px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 3px;
    background-color: $color-accent;
  }
}

.item-statistics__year span {
  font-size: 18px;

  @media screen and (max-width: $screen--xs-small - 1) {
    font-size: 16px;
  }
}

.item-statistics__descr {
  max-width: 210px;
  margin: 0;
}
