.item-ingredients {
  position: relative;
  width: 270px;
  height: 270px;
  padding: 20px;
  overflow: hidden;
  font-size: 14px;
  background-color: #f6f9f3;
  counter-increment: ingredientsCounter;

  @media screen and (max-width: $screen--lg - 1) {
    width: 332px;
    height: 332px;
    padding: 25px;
  }

  @media screen and (max-width: $screen--sm - 1) {
    width: 290px;
    height: 290px;
  }

  @media screen and (max-width: $screen--xs-small - 1) {
    width: 300px;
    height: 300px;
  }

  @media (any-hover: hover) {
    &:hover .item-ingredients__name-wrap {
      visibility: visible;
      opacity: 1;
    }
  }

  &:last-child,
  &--secret {
    order: 1;
    background-image: url("../img/bg/bg-secret.svg");
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (max-width: $screen--lg - 1) {
      order: 0;
      background-size: 130px auto;
    }

    @media screen and (max-width: $screen--xs-small - 1) {
      background-size: 120px auto;
    }
  }

  &::before {
    content: "\2014\0020" counter(ingredientsCounter, decimal-leading-zero);
    position: absolute;
    top: 15px;
    right: calc(100% - 12px);
    display: block;
    width: 45px;
    font-weight: 700;
    font-size: 14px;
    color: #a4c58c;
    text-align: right;
    letter-spacing: 0.07em;
    transform-origin: 100% 0;
    transform: rotate(-90deg);

    @media screen and (max-width: $screen--lg - 1) {
      top: 20px;
      width: 50px;
      font-size: 16px;
    }

    @media screen and (max-width: $screen--xs-small - 1) {
      font-size: 14px;
    }
  }
}

.item-ingredients img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  mix-blend-mode: darken;
}

//.item-ingredients:hover .item-ingredients__name-wrap {
//  visibility: visible;
//  opacity: 1;
//}

.item-ingredients:last-child .item-ingredients__text,
.item-ingredients--secret .item-ingredients__text {
  position: absolute;
  bottom: 45px;
  left: 55px;
  max-width: 110px;
  margin: 0;

  @media screen and (max-width: $screen--lg - 1) {
    bottom: 50px;
    left: 70px;
    max-width: 130px;
  }

  @media screen and (max-width: $screen--xs-small - 1) {
    bottom: 60px;
    left: 55px;
  }
}

.item-ingredients__name-wrap {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: radial-gradient(at 30% 18.5%, rgba(183, 213, 152, 0.65), rgba(128, 167, 78, 0.95));
  visibility: hidden;
  opacity: 0;
}

.item-ingredients__name {
  margin: 0;
  font-size: 14px;
  line-height: 1.43;
  color: $color-default-white;
  text-align: center;

  @media screen and (max-width: $screen--lg - 1) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.item-ingredients__latin-name {
  position: absolute;
  bottom: 0;
  left: calc(100% - 30px);
  display: block;
  width: 100%;
  font-style: normal;
  font-size: 14px;
  color: #a4c58c;
  letter-spacing: 0.07em;
  transform: rotate(-90deg);
  transform-origin: 0 0;

  @media screen and (max-width: $screen--lg - 1) {
    left: calc(100% - 30px);
    font-size: 16px;
  }

  @media screen and (max-width: $screen--xs-small - 1) {
    font-size: 14px;
  }
}

.item-ingredients__text {
  font-weight: 700;
  line-height: 1.57;
  text-transform: uppercase;
  letter-spacing: 0.07em;

  @media screen and (max-width: $screen--lg - 1) {
    font-size: 17px;
    line-height: 1.6;
  }

  @media screen and (max-width: $screen--xs-small - 1) {
    font-size: 14px;
    line-height: 1.74;
  }
}
