.item-set {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 15px 0;
  text-align: center;
  border: 1px solid rgba(164, 197, 140, 0.7);
  counter-increment: setCounter;

  @media screen and (max-width: $screen--lg - 1) {
    padding-top: 35px;
  }

  @media screen and (max-width: $screen--sm - 1) {
    padding-top: 25px;
  }

  @media screen and (max-width: $screen--xs - 1) {
    padding: 0;
    border: 0;
  }

  &::before {
    content: counter(setCounter, decimal-leading-zero);
    font-weight: 900;
    font-size: 150px;
    line-height: 1;
    color: #f7f9f3;

    @media screen and (max-width: $screen--lg - 1) {
      font-size: 110px;
    }

    @media screen and (max-width: $screen--xs - 1) {
      font-size: 130px;
      color: $color-body;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 75px;
    left: 50%;
    display: block;
    width: 100px;
    height: 100px;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateX(-50%);

    @media screen and (max-width: $screen--lg - 1) {
      top: 55px;
      width: 75px;
      height: 75px;
    }

    @media screen and (max-width: $screen--sm - 1) {
      top: 45px;
    }

    @media screen and (max-width: $screen--xs - 1) {
      top: 20px;
      width: 80px;
      height: 80px;
    }
  }

  &--plants {
    &::after {
      background-image: url("../img/bg/icon-set-plants.svg");
    }
  }

  &--manual {
    &::after {
      background-image: url("../img/bg/icon-set-manual.svg");
    }
  }

  &--cert {
    &::after {
      background-image: url("../img/bg/icon-set-cert.svg");
    }
  }
}

.item-set__text {
  margin: 15px 0 0;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @media screen and (max-width: $screen--lg - 1) {
    margin-top: 12px;
    font-size: 10px;
  }

  @media screen and (max-width: $screen--sm - 1) {
    margin-top: 8px;
  }

  @media screen and (max-width: $screen--xs - 1) {
    font-size: 12px;
  }
}
