.phone {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.phone__number {
  position: relative;
  padding-left: 25px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: $color-text;
  text-decoration: none;

  @media screen and (max-width: $screen--sm - 1) {
    padding-left: 0;
    font-size: 14px;
  }

  &:hover,
  &:focus {
    opacity: 0.75;
  }
}

.phone__number svg {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  transform: translateY(-50%);
  fill: $color-accent--light;

  @media screen and (max-width: $screen--sm - 1) {
    display: none;
  }
}

.phone__text {
  margin: 0;
  font-size: 12px;

  @media screen and (max-width: $screen--sm - 1) {
    display: none;
  }
}
