.success-secrets {
  min-height: 645px;
  margin-bottom: 180px;

  @media screen and (max-width: $screen--lg - 1) {
    margin-bottom: 0;
  }
}

.success-secrets__inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;

  @media screen and (max-width: $screen--lg - 1) {
    flex-direction: column;
    padding-bottom: 0;
  }
}

.success-secrets__left {
  position: relative;
  width: 53%;
  max-width: 600px;

  @media screen and (max-width: $screen--lg - 1) {
    order: 1;
    width: 100%;
    max-width: none;
    min-height: 645px;
  }

  @media screen and (max-width: $screen--xs-small - 1) {
    min-height: auto;
    padding-top: 77%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: calc((1720px - 1170px) / 2 + 100%);
    height: 100%;
    background: url("../img/bg/bg-success-desktop@1x.jpg") right top / cover no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg/bg-success-desktop@2x.jpg");
    }

    @media screen and (max-width: $screen--lg - 1) {
      width: 100%;
    }

    @media screen and (max-width: $screen--xs-small - 1) {
      background-image: url("../img/bg/bg-success-mobile@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg/bg-success-mobile@2x.jpg");
      }
    }
  }
}

.success-secrets__banner {
  position: absolute;
  right: -2px;
  bottom: -90px;

  @media screen and (max-width: $screen--lg - 1) {
    right: 50%;
    min-width: 600px;
    transform: translateX(50%);
  }

  @media screen and (max-width: $screen--xs - 1) {
    width: 100%;
    min-width: auto;
  }

  @media screen and (max-width: $screen--xs-small - 1) {
    top: 100%;
    //right: auto;
    bottom: auto;
    width: 100%;
    min-width: auto;
    padding: 0;
  }
}

.success-secrets__banner .banner__inner {
  padding: 0;

  @media screen and (max-width: $screen--xs-small - 1) {
    border: 0;
  }
}

.success-secrets__banner .banner__text-wrap {
  padding: 40px 40px 35px;

  @media screen and (max-width: $screen--xs-small - 1) {
    text-align: center;
  }
}

.success-secrets__banner .btn {
  //display: block;
  width: 100%;
}

.success-secrets__right {
  width: 43%;
  max-width: 500px;
  padding-top: 38px;

  @media screen and (max-width: $screen--lg - 1) {
    width: 100%;
    max-width: none;
    padding-top: 0;
  }
}

.success-secrets__title {
  margin: 0 0 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;

  @media screen and (max-width: $screen--lg - 1) {
    max-width: 550px;
    margin: 0 auto 38px;
    font-size: 30px;
    line-height: 1.33;
    text-align: center;
  }

  @media screen and (max-width: $screen--xs-small - 1) {
    margin-bottom: 22px;
    font-size: 24px;
    line-height: 1.25;
  }
}

.success-secrets__list-title {
  margin: 0 0 40px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media screen and (max-width: $screen--lg - 1) {
    margin-bottom: 30px;
    text-align: center;
  }

  @media screen and (max-width: $screen--xs-small - 1) {
    margin-bottom: 22px;
    font-size: 12px;
  }
}

.success-secrets__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media screen and (max-width: $screen--lg - 1) {
    max-width: 550px;
    margin: 0 auto 50px;
  }

  @media screen and (max-width: $screen--xs-small - 1) {
    margin-bottom: 25px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.success-secrets__item {
  position: relative;
  margin-bottom: 50px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 1.375;

  @media screen and (max-width: $screen--lg - 1) {
    margin-bottom: 20px;
  }

  @media screen and (max-width: $screen--xs-small - 1) {
    padding-left: 20px;
    font-size: 14px;
    line-height: 1.57;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.success-secrets__item-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  display: block;
  width: 8px;
  height: 13px;
  transform: translateY(-50%);
  fill: #97b979;

  @media screen and (max-width: $screen--xs-small - 1) {
    top: 0.2em;
    left: 0;
    transform: none;
  }
}
