.success-secrets {
  min-height: 645px;
}

.success-secrets__inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
}

.success-secrets__left {
  position: relative;
  width: 53%;
  max-width: 600px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: calc((1720px - 1170px) / 2 + 100%);
    height: 100%;
    background: url("../img/bg/bg-success.jpg") right top / cover no-repeat;
  }
}

.success-secrets__banner {
  position: absolute;
  right: -2px;
  bottom: -90px;
}

.success-secrets__banner .banner__inner {
  padding: 0;
}

.success-secrets__banner .banner__text-wrap {
  padding: 40px 40px 35px;
}

.success-secrets__banner .btn {
  display: block;
}

.success-secrets__right {
  width: 43%;
  max-width: 500px;
  padding-top: 38px;
}

.success-secrets__title {
  margin: 0 0 40px;
  font-size: 40px;
  line-height: 1.25;
}

.success-secrets__list-title {
  margin: 0 0 40px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.success-secrets__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.success-secrets__item {
  position: relative;
  margin-bottom: 50px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 1.375;

  &:last-child {
    margin-bottom: 0;
  }
}

.success-secrets__item-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  display: block;
  width: 8px;
  height: 13px;
  transform: translateY(-50%);
  fill: #97b979;
}
