.symptoms {
  margin-bottom: 150px;

  @media screen and (max-width: $screen--lg - 1) {
    margin-bottom: 95px;
  }

  @media screen and (max-width: $screen--xs-small - 1) {
    margin-bottom: 55px;
  }
}

.symptoms__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 145px;
  padding-bottom: 50px;

  @media screen and (max-width: $screen--lg - 1) {
    flex-direction: column;
    padding-top: 10px;
  }

  @media screen and (max-width: $screen--xs-small - 1) {
    padding-bottom: 0;
  }
}

.symptoms__left {
  width: 57%;
  max-width: 670px;
  padding-top: 40px;

  @media screen and (max-width: $screen--lg - 1) {
    width: 100%;
    max-width: none;
    padding-top: 0;
  }
}

.symptoms__title {
  margin: 0 0 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;

  @media screen and (max-width: $screen--lg - 1) {
    max-width: 335px;
    margin: 0 auto 45px;
    font-size: 30px;
    line-height: 1.33;
    text-align: center;
  }

  @media screen and (max-width: $screen--xs - 1) {
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 1.25;
  }
}

.symptoms__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 0 30px;
  list-style: none;
  background-color: $color-accent--lightest;
  counter-reset: symptomsCounter;

  @media screen and (max-width: $screen--lg - 1) {
    padding: 0 35px 0 45px;
  }

  @media screen and (max-width: $screen--xs-small - 1) {
    padding-right: 0;
    padding-left: 10px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 1px;
    display: block;
    width: calc((1720px - 1170px) / 2);
    height: 100%;
    background-color: inherit;
    transform: translateX(-100%);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 20px;
    display: block;
    width: calc(1720px - ((1720px - 1170px) / 2 + 100%) + 20px);
    height: 100%;
    background-color: inherit;
    transform: translateX(100%);

    @media screen and (max-width: $screen--xs - 1) {
      right: -10px;
    }
  }
}

.symptoms__item {
  width: 100%;
  min-height: 70px;
}

.symptoms__item--small.item-symptoms {
  min-height: 80px;

  &:nth-child(2n) {
    width: 53%;
    border-right: 1px solid rgba(164, 197, 140, 0.8);

    @media screen and (max-width: $screen--xs - 1) {
      width: 100%;
      border-right: 0;
    }
  }

  &:nth-child(2n + 1) {
    width: 47%;
    padding-left: 70px;

    @media screen and (max-width: $screen--lg - 1) {
      padding-left: 80px;
    }

    @media screen and (max-width: $screen--xs - 1) {
      width: 100%;
      padding-left: 40px;
    }

    &::before {
      left: 30px;

      @media screen and (max-width: $screen--lg - 1) {
        left: 45px;
      }

      @media screen and (max-width: $screen--xs - 1) {
        left: 0;
      }
    }
  }

  &::before {
    font-size: 12px;
  }
}

.symptoms__item--small .item-symptoms__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: none;
  letter-spacing: normal;
}

.symptoms__right {
  position: relative;
  width: 43%;
  max-width: 500px;
  padding-bottom: 30px;

  @media screen and (max-width: $screen--lg - 1) {
    width: 100%;
    max-width: none;
  }

  @media screen and (max-width: $screen--xs-small - 1) {
    padding-bottom: 0;
    background-color: $color-accent--lightest;
  }
}

.symptoms__img-wrapper {
  position: relative;
  height: 100%;

  @media screen and (max-width: $screen--lg - 1) {
    background-color: $color-accent;
  }

  &::before,
  &::after {
    @media screen and (max-width: $screen--lg - 1) {
      content: "";
      position: absolute;
      top: -1px;
      display: block;
      width: calc((100vw - 100%) / 2);
      height: 100%;
      background-color: inherit;
    }
  }

  &::before {
    @media screen and (max-width: $screen--lg - 1) {
      left: 1px;
      transform: translateX(-100%);
    }
  }

  &::after {
    @media screen and (max-width: $screen--lg - 1) {
      right: 1px;
      transform: translateX(100%);
    }
  }
}

.symptoms__img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @media screen and (max-width: $screen--lg - 1) {
    width: auto;
    margin: 0 auto;
  }

  @media screen and (max-width: $screen--xs - 1) {
    display: none;
  }
}

.symptoms__marker-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.symptoms__marker-item--active .symptoms__marker-icon {
  opacity: 1;
}

.symptoms__marker-item[data-symptom-type="weakness"] .symptoms__marker-icon,
.symptoms__marker-item[data-symptom-type="illness"] .symptoms__marker-icon {
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
}

.symptoms__marker-item[data-symptom-type="problem-skin"] .symptoms__marker-icon {
  top: 190px;
  left: 28%;

  @media screen and (max-width: $screen--lg - 1) {
    left: 35.5%;
  }
}

.symptoms__marker-item[data-symptom-type="weak-memory"] .symptoms__marker-icon,
.symptoms__marker-item[data-symptom-type="headache"] .symptoms__marker-icon {
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.symptoms__marker-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  background-color: #a5c98a;
  border: 10px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &::before {
    content: attr(data-symptom-index);
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    color: $color-text--invert;
    letter-spacing: 0.08em;
  }
}

.symptoms__banner {
  position: absolute;
  bottom: 29px;
  left: -1px;
  width: 100%;
  max-width: 415px;
  padding-bottom: 0;

  @media screen and (max-width: $screen--lg - 1) {
    left: 50%;
    padding-bottom: 20px;
    transform: translate(-50%, 20px);
  }

  @media screen and (max-width: $screen--xs - 1) {
    position: relative;
    max-width: none;
  }

  @media screen and (max-width: $screen--xs-small - 1) {
    bottom: auto;
    left: auto;
    transform: none;
  }
}

.symptoms__banner .banner__inner {
  padding-top: 35px;
  padding-right: 25px;
  padding-bottom: 35px;

  @media screen and (max-width: $screen--xs-small - 1) {
    padding-right: 20px;
  }
}

.symptoms__banner .banner__link {
  position: absolute;
  bottom: -10px;
  left: 60px;

  @media screen and (max-width: $screen--lg - 1) {
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
  }
}

.symptoms__bottom {
  display: flex;
  width: 100%;
  margin-top: 20px;

  @media screen and (max-width: $screen--lg - 1) {
    margin-top: 10px;
  }

  @media screen and (max-width: $screen--xs-small - 1) {
    margin-top: 0;
    padding-top: 10px;
    background-color: $color-accent--lightest;
  }
}

.symptoms__bottom .btn {
  width: 43%;
  max-width: 500px;
  margin-left: auto;

  @media screen and (max-width: $screen--lg - 1) {
    width: 100%;
    max-width: 415px;
    margin-right: auto;
  }
}
