.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1720px;
  min-height: 100vh;
  margin: 0 auto;

  @media screen and (max-width: $screen--overflow-x) {
    overflow-x: hidden;
  }
}

.wrapper .page-header,
.wrapper .page-footer {
  flex-shrink: 0;
}

.wrapper main {
  flex-grow: 1;
}
